@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  @apply scroll-smooth;
}


body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-shadow {
  box-shadow: 15px 20px 35px rgba(0, 0, 0, 1);
}

.custom-shadow2 {
  box-shadow: 15px 10px 35px rgba(0, 0, 0, 1);
}

.outer-glow {
  
  box-shadow: 12px 12px 24px #101418, -14px -12px 20px #202830;

}

.outer-glow1 {
  color: #fff;
  text-shadow: 0 0 1px #7d7d7d, 0 0 5px #7d7d7d, 0 0 10px #7d7d7d, 0 0 10px #7d7d7d;
  transition: text-shadow 0.2s ease-in-out;
}

.outer-glow1:hover {
  color: #fff;
  text-shadow: 0 0 1px #a2a2a2, 0 0 5px #c0c0c0, 0 0 10px #c1c1c1, 0 0 10px #d3d3d3;

}

.custom-width {
  max-width: 670px;
}

.text-glow {
  text-shadow: 0 0 25px #7d7d7d, 0 0 1px #707070;
  transition: text-shadow 0.2s ease-in-out;
}

.text-glow:hover {
  text-shadow: 0 0 30px #a9a9a9, 0 0 5px #a9a9a9;
}

.image-size {
  width: 350px; 
  height: auto; 
}

.image-size2 {
  width: 10rem; 
  height: auto; 
}

@layer components {
  .rounded-25 {
    border-radius: 25%;
  }
  .box-content {
    box-sizing: content-box;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
  .animate-scroll {
    animation: scroll 2.2s cubic-bezier(.15,.41,.69,.94) infinite;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181e24; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e3a44; 
  border-radius: 15px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #384753; 
}

::selection {
  background: #2b3640;
 
}

.fade-in-initial {
  opacity: 0;
  transform: translateY(1rem);
  transition: opacity 0.5s, transform 0.5s;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}


@keyframes fadeIn {
  0%, 40% {  
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loadTransform {
  0%, 100% {
      transform: none;
  }
  50% {
      transform: scale(1.03) rotate(3deg) translateY(-5px);
  }
}

.appear-later {
  animation: loadTransform 650ms 1s forwards ease-in-out;
}

.text-white-to-gradient {
  color: white;
  background-image: linear-gradient(to right, green, white, rgb(255, 136, 0));
  -webkit-background-clip: text;
  transition: color 150ms ease-in-out;
font-weight: bold;
  
}

.text-white-to-gradient:hover {
  color: transparent;
}

@keyframes scroll_1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-0.6em); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(0.6em); }
  100% { transform: translateY(0); }
}

.scroll-icon {
  @apply relative block h-12 w-7 border border-gray-400 rounded-full;
}

.scroll-icon__wheel-outer {
  @apply absolute left-1/2 top-2.5 h-4 w-1 -ml-0.5 rounded-full overflow-hidden;
}

.scroll-icon__wheel-inner {
  @apply block h-full w-full rounded-full bg-gray-400;
  animation: scroll_1 2.5s ease-in-out infinite;
}

.example {
  @apply flex flex-col items-center justify-center flex-1;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.show-after-5s {
  animation: fadeIn 1.5s forwards 3.5s;
  opacity: 0;
}
